.edit-text {
	display:none;
}

.activity-text {
	display: none;
}

.click-activity {
	cursor: pointer;
}

.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}

.progress {
	height: 100px;
}